/* === ANY ELEMENT OVERRIDE ===*/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: black !important;
}

/* === BASE ===*/
html,
body {
    height: 100vh;
    background: #abbaab;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #ffffff, #abbaab);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #ffffff, #abbaab); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    overflow-x: hidden;
    font-size: 18px;
}

/* === dcc.Graphh components ===*/
.dash-graph.my-graph {
    background-color: rgba(0,0,0,11.0%);
    border-radius: 25px;
}

/* === NAV ===*/
.logo {
    padding: 23px 1px 1px 1px;
    text-align: center;
    vertical-align: middle;
    text-shadow: 0px 0px 50px #4be9fa;
}

.app-brand {
    font-size: 35px;
    font-weight: 200;
    text-shadow: 0px 0px 50px #4be9fa;
}

.my-nav {
    font-size: 18px !important;
}

.nav-pills .nav-link.active {
    background-color: #042f33;
}

/* === FOOTER ===*/
.hr-footer {
    height: 5px;
}

.footer {
    font-size: 15px;
}


.guide {
    text-align: left;
    font-size: 16px;
    font-weight: 100; 
}

.row-content {
    margin: 20px 0px 20px 0px;
    justify-content: space-between;
}

.par {
    text-align: center;
}

input[type='radio'] {
    accent-color: #042f33;
    margin: 5px 5px 5px 5px;
}

input:hover {
    box-shadow: 0 0 10px #3DED97;
}

input[type='text'] {
    size: 50px;
    border-radius: 25px;
    border: solid 1px #3DED97;
    accent-color: #042f33;
    background-color: #042f33;
    padding: 12px 20px;
    margin: 5px 0;
    position: relative;
    left: -75%;
}

input[type='password'] {
    border-radius: 25px;
    border: solid 1px #3DED97;
    accent-color: #042f33;
    background-color: #042f33;
    padding: 12px 20px;
    margin: 5px 0;
    position: relative;
    left: -75%;
}

.row-titles {
    padding: 10px 0px 20px 0px;
    text-align: center;
    text-decoration: solid;
}

.dash-dropdown {
    margin: 5px 0px 5px 0px;
}
/* === BUTTON ===*/
.my-button {
    background-color: #042f33;
    border: solid 1px #3DED97;
    border-radius: 25px;
    padding: 10px 20px 10px 20px;
    font-size: 18px;
    margin: 0px;
    box-shadow: 0 0 5px #042f33;
}

.my-button:hover {
    box-shadow: 0 0 10px #3DED97;
}

.my-button:active {
    box-shadow: 0 0 10px #3DED97;
  }

/* === MAP DROPDOWN ===*/
.Select-control, .Select-menu-outer {
    background-color: #042f33 !important;
    border-width: 1px;
    border-color: #042f33 !important;
  }

/* === LOADING ===*/
.dash-sk-circle .dash-sk-child:before {
    background-color: #3DED97 !important;
    box-shadow: 0 0 20px #3DED97 !important;
}
