/* === ANY ELEMENT OVERRIDE ===*/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: black !important;
}

/* === BASE ===*/
html,
body {
    height: 100vh;
    background: #abbaab;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #ffffff, #abbaab);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #ffffff, #abbaab); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    overflow-x: hidden;
    font-size: 18px;
}

/* === dcc.Graphh components ===*/
.dash-graph.my-graph {
    background-color: rgba(0,0,0,5.0%);
    border-radius: 50px;
}

/* === NAV ===*/
.logo {
    padding: 23px 1px 1px 1px;
    text-align: center;
    vertical-align: middle;
    text-shadow: 0px 0px 50px #4be9fa;
}

.row-content {
    margin: 20px 0px 20px 0px;
    justify-content: space-between;
}

.par {
    text-align: center;
    color: black;
}

input[type='radio'] {
    accent-color: #042f33;
    margin: 5px 5px 5px 5px;
}

input:hover {
    box-shadow: 0 0 10px #3DED97;
}

.row-titles {
    padding: 10px 0px 20px 0px;
    text-align: center;
    text-decoration: solid;
}
/* === BUTTON ===*/
.my-button {
    background-color: #042f33;
    border: solid 1px #3DED97;
    border-radius: 25px;
    padding: 10px 20px 10px 20px;
    font-size: 18px;
    margin: 0px;
    box-shadow: 0 0 5px #042f33;
}

.my-button:hover {
    box-shadow: 0 0 10px #3DED97;
}

.my-button:active {
    box-shadow: 0 0 10px #3DED97;
  }

/* === MAP DROPDOWN ===*/
.Select-control, .Select-menu-outer {
    background-color: #042f33 !important;
    border-width: 1px;
    border-color: #042f33 !important;
  }

/* === LOADING ===*/
.dash-sk-circle .dash-sk-child:before {
    background-color: #3DED97 !important;
    box-shadow: 0 0 20px #3DED97 !important;
}

.header {
    font-family: 'Roboto', sans-serif;
    color: #333;
    text-align: center;
    margin-top: 5px;
    box-shadow: 0 3px 3px rgba(0,0,0,0.1);
    border-radius: 2px;
    text-shadow: 4px 4px 70px black;
}

.graph-container {
    box-shadow: 0 20px 8px rgba(0,0,0,0.1);
    border-radius: 1px;
    text-shadow: 0px 0px 10px black;
}